.page-header
  = link_to new_bullet_point_path, class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
    New Bullet point
  %h1 Listing bullet_points

.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th Human title
        %th Human description
        %th Lawyer title
        %th Lawyer description
        %th
        %th
        %th

    %tbody
      - @bullet_points.each do |bullet_point|
        %tr
          %td= bullet_point.human_title
          %td= bullet_point.human_description
          %td= bullet_point.lawyer_title
          %td= bullet_point.lawyer_description
          %td= link_to 'Show', bullet_point
          %td= link_to 'Edit', edit_bullet_point_path(bullet_point)
          %td= link_to 'Destroy', bullet_point, data: { confirm: 'Are you sure?' }, method: :delete
