= form_for @user, html: { class: "form-horizontal", role: "form" } do |f|
  = render partial: "shared/error_messages", locals: { object: @user }

  %table.table_padded
    %tr
      %td.cell_collapse= f.label :first_name, class: 'text_capitalize'
      %td= f.text_field :first_name

    %tr
      %td.cell_collapse= f.label :last_name, class: 'text_capitalize'
      %td= f.text_field :last_name

    %tr
      %td.cell_collapse= f.label :email
      %td= f.email_field :email, required: true

    %tr
      %td.cell_collapse= f.label :password
      %td= f.password_field :password, required: f.object.new_record?

    %tr
      %td.cell_collapse= f.label :company_name, 'Company'
      %td= f.text_field :company_name

    %tr
      %td.cell_collapse= f.label :website
      %td= f.text_field :website

    %tr
      %td= f.label :states, "In what states are you licensed to practice law?"
      %td= f.text_field :states, required: true

    %tr
      %td.cell_collapse= f.label :attorney_registration_number, class: 'text_capitalize'
      %td= f.text_field :attorney_registration_number, required: true

    %tr
      %td.cell_collapse= f.label :description
      %td= f.text_area :description

    %tr
      %td
      %td
        = f.submit 'Sign Up', class: 'btn'
