= form_for @document_type, html: { class: "form-horizontal", role: "form" } do |f|
  = render partial: "shared/error_messages", locals: { object: @document_type }

  .form-group
    = f.label :category, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :category, class: 'form-control'
  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit class: 'btn btn-primary'
