%h1 Request A Contract

= form_for @request, html: { class: "form-horizontal", role: "form" } do |f|
  = render partial: "shared/error_messages", locals: { object: @request }

  %table.table_padded
    %tr
      %td.cell_collapse= f.label :title
      %td= f.text_field :title

    %tr
      %td.cell_collapse= f.label :url, "URL"
      %td= f.text_field :url, placeholder: 'http://example.com/terms'

    %tr
      %td.cell_collapse= f.label :description
      %td= f.text_area :description

    %tr
      %td
      %td
        = f.submit class: 'btn'


