= form_for @rating, html: { class: "form-horizontal", role: "form" } do |f|
  = render partial: "shared/error_messages", locals: { object: @rating }

  .form-group
    = f.label :bullet_point, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :bullet_point, class: 'form-control'
  .form-group
    = f.label :score, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.number_field :score, class: 'form-control'
  .form-group
    = f.label :description, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_area :description, class: 'form-control'
  .form-group
    = f.label :review, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :review, class: 'form-control'
  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit class: 'btn btn-primary'
