.page-header
  = link_to new_rating_path, class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
    New Rating
  %h1 Listing ratings

.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th Bullet point
        %th Score
        %th Description
        %th Review
        %th
        %th
        %th

    %tbody
      - @ratings.each do |rating|
        %tr
          %td= rating.bullet_point
          %td= rating.score
          %td= rating.description
          %td= rating.review
          %td= link_to 'Show', rating
          %td= link_to 'Edit', edit_rating_path(rating)
          %td= link_to 'Destroy', rating, data: { confirm: 'Are you sure?' }, method: :delete
