.page-header
  = link_to ratings_path, class: 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Back
  = link_to edit_rating_path(@rating), class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    Edit
  %h1 Show rating

%dl.dl-horizontal
  %dt Bullet point:
  %dd= @rating.bullet_point
  %dt Score:
  %dd= @rating.score
  %dt Description:
  %dd= @rating.description
  %dt Review:
  %dd= @rating.review
