.row_padding_large{style: 'background:#fff05a;'}
  / %div{style: 'position:absolute;top:0;left:0;bottom:0;right:0;background:url("https://legaltalknetwork.com/wp-content/uploads/2018/03/LexLucid-thin.jpg") no-repeat center left;background-size:cover;opacity:0.07;filter:grayscale(100%);'}
  .content_width

    .cols
      .col_66.text_large.media_xs_text_base_size

        %h1 About LexLucid

        %p LexLucid was created during the 2018 Global Legal Hackathon. The project attempts to solve one of the many challenges proposed by Gillian Hadfield, a leading proponent of reform in the legal industry.

        %p The LexLucid team took first place at the local event in Denver, Colorado. Now they are competing in the second stage of the hackathon, with winners advancing to the third, and final round, in New York.

      .col_33
        .box_gray{style: 'background:rgba(255,255,255,0.3);'}
          .fa.fa-3x.fa-lightbulb-o{style: 'float:left;margin-right:0.3em;'}

          %em
            %p
              %strong
                %span.text_light.text_uppercase Hadfield Challenge:
                %br
                Plain Language Contracting

            %p The average American reads at an eighth-grade level. The average online terms of service, privacy policy, and consumer contract is written at a college level or beyond. Can a third party contracting service offer a better solution that both users and businesses would buy?

.row.bg_gray{style: 'position:relative;'}
  .about_mission
  .content_width.text_large.media_xs_text_base_size
    .cols.cols_padding_large
      .col_50

      .col_50
        %h3.remove_margin_top Our Mission Statement

        %p LexLucid&rsquo;s mission is to make the fairness of online contracts public knowledge. Providing transparency helps consumers make educated decisions about the products and services they use, while motivating businesses to make fairer and simpler&nbsp;contracts.

.row_padding_large.bg_white
  .content_width.media_xs_text_base_size{style: 'max-width:55em;'}
    .text_large
      %h2.break_small.remove_margin_top{style: 'border-bottom:1px solid rgba(0, 0, 0, 0.1);'} Meet the Team

    .cols
      .col_25
        %img{title: 'Katherine Snow', src: asset_path('Katherine.jpg')}

      .col_75
        %h3 Katherine Snow

        %p Katherine Snow is an associate attorney at Sherman & Howard. She assists clients in the areas of mergers and acquisitions, securities regulation, corporate operations, and digital currency and blockchain technology matters. Prior to joining the firm, she worked as a summer associate with the firm’s Corporate practice. While in law school Katherine was a member of the Transactional Law Team, participated in the annual Technology Policy Challenge, and served as a teacher for the Marshall-Brennan Constitutional Literacy Project.

        %ul.inline_list
          %li= link_to 'LinkedIn', 'https://www.linkedin.com/in/katherine-snow-668567a8/'
          %li= link_to 'Sherman & Howard', 'https://shermanhoward.com/attorney/katherine-snow/'

    %hr

    .cols
      .col_25
        %img{title: 'Otto Hanson', src: 'https://legaltalknetwork.com/wp-content/uploads/2018/03/AAEAAQAAAAAAAAz4AAAAJDQ4YTlhYjkyLTBiMWMtNDU1Zi05N2U5LWEyNzE3NzUwZTUzYw.jpg'}

      .col_75
        %h3 Otto Hanson

        %p Otto Hanson is an associate in the Finance & Acquisitions Department of Davis Graham & Stubbs LLP. Before pursuing a legal career, Mr. Hanson worked in business management roles at startups in Boulder, Colorado and Silicon Valley. Among other roles, Mr. Hanson spent three years selecting and managing outside counsel for those companies. Mr. Hanson’s practice focuses on financing, technology, and commercial transactions as well as general matters of corporate law including public benefit corporations. He is fluent in Spanish, conversational in Portuguese, and is the co-chair of the New Lawyers Subsection of the Business Law Section of the Colorado Bar Association. In 2012, Mr. Hanson received the Executive Certificate in Management and Leadership from the Massachusetts Institute of Technology Sloan School of Management.

        %ul.inline_list
          %li= link_to 'LinkedIn', 'https://www.linkedin.com/in/otto-hanson-7b265716/'
          %li= link_to 'Twitter', 'https://www.linkedin.com/in/otto-hanson-7b265716/'
          %li= link_to 'Davis Graham & Stubbs', 'https://www.dgslaw.com/attorneys/otto-hanson/'

    %hr

    .cols
      .col_25
        %img{title: 'Chad Jolly', src: 'https://s3.amazonaws.com/lawgical/assets/data/1771/original.jpg'}

      .col_75
        %h3 Chad Jolly

        %p Chad Jolly is the senior software developer for Legal Talk Network and its parent company. He enjoys building and fixing all types of things while striving to find simple and elegant solutions to complex problems.

        %ul.inline_list
          %li= link_to 'Twitter', 'https://twitter.com/chadjolly'

    %hr

    .cols
      .col_25
        %img{title: 'Nathan Benes', src: 'https://legaltalknetwork.com/wp-content/uploads/2018/02/original.jpg'}

      .col_75
        %h3 Nathan Benes

        %p Nathan Benes is a web applications developer at Lawgical.

        %ul.inline_list
          %li= link_to 'LinkedIn', 'https://www.linkedin.com/in/nathan-benes-904a5677/'

    %hr

    .cols
      .col_25
        %img{title: 'Carlos Gochez', src: 'https://s3.amazonaws.com/lawgical/assets/data/1851/original.jpg'}

      .col_75
        %h3 Carlos Gochez

        %p Carlos Gochez is a web developer for Lawgical.

        %ul.inline_list
          %li= link_to 'LinkedIn', 'https://www.linkedin.com/in/carlos-armando-gochez-banegas-61395124/'
          %li= link_to 'Twitter', 'https://twitter.com/carlos_gochez'

    %hr

    .cols.break_large
      .col_25
        %img{title: 'Jeremy Church', src: 'https://s3.amazonaws.com/lawgical/assets/data/1770/original.jpg'}

      .col_75
        %h3 Jeremy Church

        %p Jeremy is a web designer who works in the Denver, Colorado office of Lawgical. For nearly 10 years, he has built websites for both large and small companies. Jeremy considers himself a web generalist, with an emphasis on front-end design and development.

        %ul.inline_list
          %li= link_to 'j.eremy.net', 'https://j.eremy.net/'
          %li= link_to 'Twitter', 'https://twitter.com/jeremybchurch'

