.break_small
  = link_to root_url, target: '_blank', class: 'remove_border_bottom' do
    %img.header_logo{src: 'lexlucid-logo-vector.svg'}

- if document
  %h1= document.name

  - if document.reviews.any?
    .overall_stars.js-star-readonly-score{data: {score:  document.overall_score}}

    .break_medium
      .text_small #{number_with_precision(@document.overall_score, precision: 1)} Stars &nbsp; | &nbsp; #{document.reviews.count} Attorney #{"Review".pluralize(@document.reviews.count)}

    %table.text_small.break_small
      - if document.version
        %tr
          %td Version
          %td= document.version

      - document.summarize_scores.each do |rating|
        %tr
          %td #{rating.bullet_point.human_title}
          %td.cell_collapse{style: 'vertical-align:top;'}
            %span.js-star-readonly-score{data: {score: rating.avg_score}}

  - if has_logged_in?
    - if review
      = link_to "Edit Your Review", edit_review_url(review), target: "_blank", class: "btn"
    - else
      = link_to "Review Contract", new_document_review_url(document), target: "_blank", class: "btn"
  - else
    = link_to "View Details", document_url(document), target: "_blank", class: "btn"

- else
  %h1 No Reviews Found

  %p This contract has not been reviewed yet.

  - if has_logged_in?
    = link_to "Add Contract", new_document_url, target: "_blank", class: "btn js-new-document"
  - else
    = link_to "Request Attorney Review", root_url, target: "_blank", class: "btn"
