= form_for @document, html: { class: "form-horizontal", role: "form" } do |f|
  = render partial: "shared/error_messages", locals: { object: @document }

  %table.table_padded
    %tr
      %td.cell_collapse= f.label :name, "Title"
      %td= f.text_field :name

    %tr
      %td.cell_collapse= f.label :company_name, "Company"
      %td= f.text_field :company_name

    %tr
      %td.cell_collapse= f.label :url, "URL"
      %td= f.text_field :url, placeholder: 'http://example.com/terms'

    %tr
      %td.cell_collapse= f.label :document_type_id, "Type", class: "col-sm-2 control-label"
      %td= f.collection_select :document_type_id, DocumentType.order(:category), :id, :category, {}

    %tr
      %td.cell_collapse= f.label :version
      %td= f.text_field :version, placeholder: 'Version Number or Last Updated Date'

    %tr
      %td.cell_collapse= f.label :description
      %td= f.text_area :description

    %tr
      %td
      %td
        = f.submit class: 'btn'

        = link_to documents_path, class: 'btn btn_gray' do
          %span.fa.fa-fw.fa-times
          Cancel
