%nav.navbar.navbar-fixed-top{role: "navigation", style: 'margin-bottom:0;'}
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{type: "button", data: {toggle: "collapse", target: "#navbar"}, aria: {expanded: "false", controls: "navbar"} }
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar

    #navbar.collapse.navbar-collapse
      %ul.nav.navbar-nav.pull-right
        -# %li.active
          = link_to "Documents", documents_path
        - if !logged_in? && !has_logged_in?
          %li
            = link_to 'Attorney Registration', new_user_path
        - if logged_in? and current_user.admin?
          %li= link_to 'Document Types', document_types_path
          %li= link_to 'Bullet Points', bullet_points_path
          %li= link_to 'Users', users_path
        - if logged_in?
          %li= link_to [current_user.first_name, current_user.last_name].join(' '), current_user
        - else
          %li= link_to 'Login', '/login'

.home_header.break_medium
  .container
    .break_large
      %a.remove_border_bottom{href: '/'}
        %img.home_logo{src: asset_path('lexlucid-logo-vector.svg')}

      %h1 Grading contracts for the greater good.

    .text_xl
      = form_tag documents_path, method: :get do
        = text_field_tag :q, params[:q], class: 'home_header_input'
        = submit_tag "Search", class: 'home_header_submit'

.container
  %h2 Recently Reviewed Contracts



  .table-responsive
    %table.table.table-striped.table-bordered.table-hover
      %thead
        %tr
          %th Contract/Agreement Name
          %th Company Name
          %th Version (Last Updated)
          %th # of Attorney Reviews
          %th{style: "width: 120px;"} Overall Score
          - if logged_in?
            %th

      %tbody
        - i = 0
        - @documents.each do |document|
          %tr
            %td= link_to document.name, document
            %td= document.company_name
            %td= document.version
            %td= document.reviews.count
            %td
              - if document.reviews.any?
                .js-star-readonly-score{data: {size: 'small', score:  document.overall_score}, title: document.overall_score}

            - if logged_in?
              %td
                - if !current_user.has_reviewed_document?(document)
                  = link_to 'Add Review', new_document_review_path( document)
