.page-header
  = link_to new_document_path, class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
    New Document
  %h1 Listing documents

.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th Name
        %th Url
        %th Type
        %th Published on
        %th
        %th
        %th

    %tbody
      - @documents.each do |document|
        %tr
          %td= document.name
          %td= document.url
          %td= document.document_type.category
          %td= document.published_on
          %td= link_to 'Show', document
          %td= link_to 'Edit', edit_document_path(document)
          %td= link_to 'Destroy', document, data: { confirm: 'Are you sure?' }, method: :delete
