.page-header
  = link_to new_document_path, class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
    New Document
  %h1 Reviewed Documents

= form_tag documents_path, method: :get do
  = text_field_tag :q, params[:q]
  = submit_tag 'Search'
= link_to 'clear', documents_path

.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th Name
        %th Url
        %th Type
        %th Version
        %th
        %th
        %th

    %tbody
      - @documents.each do |document|
        %tr
          %td= document.name
          %td= document.url
          %td= document.document_type.category
          %td= document.version
          %td= link_to 'Show', document
          %td= link_to 'Edit', edit_document_path(document)
          %td= link_to 'Destroy', document, data: { confirm: 'Are you sure?' }, method: :delete
