.page-header
  = link_to documents_path, class: 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Back
  = link_to edit_document_path(@document), class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    Edit
  - if logged_in?
    = link_to new_document_review_path(@document), class: 'btn btn-primary' do
      %span.glyphicon.glyphicon-plus-sign
      Add Review
  %h1= @document.name

%dl.dl-horizontal
  %dt Url:
  %dd= link_to @document.url, @document.url, target: "_blank"
  %dt Type:
  %dd= @document.document_type.category
  %dt Description:
  %dd= @document.description
  %dt Document Version:
  %dd= @document.version

%h2 Scores

- @summarized_ratings.each do |rating|
  .panel.panel-default
    .panel-body
      %h3= rating.bullet_point.human_title
      %h4= rating.bullet_point.human_description
      %p Reviews: #{rating.reviews_done}
      .js-star-readonly-score{data: {score: rating.score}}
