.page-header
  = link_to edit_document_path(@document), class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    Edit
  - if logged_in? && !current_user.has_reviewed_document?(@document)
    = link_to new_document_review_path(@document), class: 'btn btn-primary' do
      %span.glyphicon.glyphicon-plus-sign
      Add Review
  %h1= @document.name

%dl.dl-horizontal
  %dt Company:
  %dd= @document.company_name
  %dt Url:
  %dd= link_to @document.url, @document.url, target: "_blank"
  %dt Type:
  %dd= @document.document_type.category
  %dt Description:
  %dd= @document.description
  %dt Document Version:
  %dd= @document.version
  - @summarized_ratings.each do |rating|
    %dt= rating.bullet_point.human_title
    %dd
      .js-star-readonly-score{data: {score: rating.avg_score, size: 'small'}}

%h2 Scores

- @summarized_ratings.each do |rating|
  .panel.panel-default
    .panel-body
      %h3= rating.bullet_point.human_title
      %h4= rating.bullet_point.human_description
      %p Attorney Reviews: #{rating.reviews_done}
      .js-star-readonly-score{data: {score: rating.avg_score}}

      %div{class: "js-review-bullet-#{rating.bullet_point_id}"}
        .table-responsive
          %table.table.table-striped.table-bordered.table-hover
            %thead
              %tr
                %th Name
                %th Company/Law Firm
                %th Score
                %th Explanation
            %tbody
              - rating.bullet_point.ratings.for_document(@document).preload(:review => :user).each do |lawyer_rating|
                %tr
                  %td= link_to "#{lawyer_rating.review.user.first_name} #{lawyer_rating.review.user.last_name}", lawyer_rating.review.user
                  %td= lawyer_rating.review.user.company_name
                  %td= lawyer_rating.score
                  %td= simple_format lawyer_rating.description
