.page-header
  = link_to documents_path, class: 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Back
  = link_to edit_document_path(@document), class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    Edit
  %h1 Show document

%dl.dl-horizontal
  %dt Name:
  %dd= @document.name
  %dt Url:
  %dd= @document.url
  %dt Type:
  %dd= @document.document_type.category
  %dt Description:
  %dd= @document.description
  %dt Published on:
  %dd= @document.published_on
