.float_right
  - if logged_in?
    = link_to edit_document_path(@document), class: 'btn' do
      %span.fa.fa-fw.fa-pencil
      Edit Document
  - if logged_in? && !current_user.has_reviewed_document?(@document)
    = link_to new_document_review_path(@document), class: 'btn' do
      %span.fa.fa-fw.fa-plus
      Add Review

%h1{style: 'margin-bottom:0.2em'}= @document.name

- if @document.reviews.any?
  %span.js-star-readonly-score{data: {size: 'small', score:  @document.overall_score}, title: @document.overall_score}

  &nbsp;&nbsp;

  %ul.inline_list.text_small.break_medium{style: 'vertical-align:top;'}
    %li #{number_with_precision(@document.overall_score, precision: 1)} Stars
    %li #{@document.reviews.count} Attorney #{"Review".pluralize(@document.reviews.count)}

%table.table_padded_right.text_small.break_large
  %tr
    %td.cell_collapse.text_right.media_xs_text_right.text_bold Company:
    %td= @document.company_name
  %tr
    %td.cell_collapse.text_right.media_xs_text_right.text_bold URL:
    %td.word_break= link_to @document.url, @document.url, target: "_blank"
  %tr
    %td.cell_collapse.text_right.media_xs_text_right.text_bold Type:
    %td= @document.document_type.category
  %tr
    %td.cell_collapse.text_right.media_xs_text_right.text_bold Version:
    %td= @document.version
  - @summarized_ratings.each do |rating|
    %tr
      %td.cell_collapse.text_right.media_xs_text_right.text_bold= link_to rating.bullet_point.human_title, "#issue-#{rating.bullet_point_id}"
      %td
        .js-star-readonly-score{data: {score: rating.avg_score, size: 'small'}}
  %tr
    %td{colspan: '2'} &nbsp;

  - if @document.auto_accept?
    %tr
      %td.text_right.media_xs_text_right
        %span.fa.fa-fw.fa-lg.fa-exclamation-circle.text_red
      %td
        This contract attempts to bind users without affirmative acceptance.
  %tr
    - if @document.notify_on_changes?
      %td.text_right.media_xs_text_right
        %span.fa.fa-fw.fa-lg.fa-check-square-o.text_green
      %td The company has committed to notifying users any time changes are made to the terms of the contract.

    - else
      %td.text_right.media_xs_text_right
        %span.fa.fa-lg.fa-exclamation-circle.text_red
      %td The company has NOT committed to notifying users any time changes are made to the terms of the contract.

- @summarized_ratings.each do |rating|
  .box.media_xs_bleed.break_medium{id: "issue-#{rating.bullet_point_id}"}
    %h3= rating.bullet_point.human_title

    %h4= simple_format rating.bullet_point.human_description

    .break_small
      %span.js-star-readonly-score{data: {score: rating.avg_score, size: 'small'}}

      %span.text_small{style: 'vertical-align:top;'} &nbsp; #{pluralize(rating.reviews_done, "Review")}

    %div{class: "js-review-bullet-#{rating.bullet_point_id}"}
      %table.table_index
        %thead
          %tr
            %th Attorney
            %th Grade
            %th Explanation
        %tbody
          - rating.bullet_point.ratings.for_document(@document).preload(:review => :user).each do |lawyer_rating|
            %tr
              %td.cell_collapse{data: {'col-header': 'Attorney:'}}= link_to "#{lawyer_rating.review.user.first_name} #{lawyer_rating.review.user.last_name[0]}", lawyer_rating.review.user
              %td.cell_collapse{data: {'col-header': 'Grade:'}}
                %span.js-star-readonly-score{data: {size: 'small', score:  lawyer_rating.score}, title: lawyer_rating.score}
              %td{data: {'col-header': 'Desc:'}}= simple_format lawyer_rating.description
