= render partial: "shared/error_messages", locals: { object: @review }

= f.fields_for :ratings do |rating_form|
  %hr

  .panel.panel-default
    %table.table_padded.panel-body
      %tr.form-group
        %td.cell_collapse= rating_form.label :bullet_point_id, "Issue", class: "col-sm-2 control-label"
        %td.col-sm-10
          = rating_form.collection_select :bullet_point_id, BulletPoint.order(:human_title), :id, :human_title, {prompt: raw("&mdash; Select &mdash;")}, class: "form-control js-bullet-point"

      %tr.form-group
        %td.cell_collapse= rating_form.label :score, class: 'col-sm-2 control-label'
        %td.col-sm-10
          .js-star-score
          = rating_form.hidden_field :score, class: "js-input-score"

      %tr.form-group
        %td.cell_collapse= rating_form.label :description, class: 'col-sm-2 control-label'
        %td.col-sm-10
          = rating_form.text_area :description, class: 'form-control'
