= render partial: "shared/error_messages", locals: { object: @review }

%table.table_padded
  %tr.form-group
    %td.cell_collapse
      = f.check_box :attorney_not_affiliated
    %td.col-sm-10
      = f.label :attorney_not_affiliated, "Check this box to confirm that there are no circumstances specific to this company that might preclude you from giving a fair and impartial review of this contract."

= f.fields_for :ratings do |rating_form|
  %hr

  .panel.panel-default
    %table.table_padded.panel-body
      %tr.form-group
        %td.cell_collapse= rating_form.label :bullet_point_id, "Issue", class: "col-sm-2 control-label"
        %td.col-sm-10
          = rating_form.collection_select :bullet_point_id, BulletPoint.order(:human_title), :id, :human_title, {prompt: raw("&mdash; Select &mdash;")}, class: "form-control js-bullet-point"

      %tr.form-group
        %td.cell_collapse= rating_form.label :score, 'Grade', class: 'col-sm-2 control-label'
        %td.col-sm-10
          .js-star-score
          = rating_form.hidden_field :score, class: "js-input-score"

      %tr.form-group
        %td.cell_collapse= rating_form.label :description, class: 'col-sm-2 control-label'
        %td.col-sm-10
          = rating_form.text_area :description, class: 'form-control'
