.page-header
  = link_to new_review_path, class: 'btn btn-primary' do
    %span.fa.fa-fw.fa-plus
    New Review
  %h1 Listing Reviews

.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th Attorney
        %th Body
        %th
        %th
        %th

    %tbody
      - @reviews.each do |review|
        %tr
          %td= review.lawyer
          %td= review.body
          %td= link_to 'Show', review
          %td= link_to 'Edit', edit_review_path(review)
          %td= link_to 'Delete', review, data: { confirm: 'Are you sure?' }, method: :delete
