%h1 New Review: #{@document.name}

%table.table_padded_right.text_small.break_large
  %tr
    %td.cell_collapse.text_right.media_xs_text_right.text_bold Company:
    %td= @document.company_name
  %tr
    %td.cell_collapse.text_right.media_xs_text_right.text_bold URL:
    %td= link_to @document.url, @document.url, target: "_blank"
  %tr
    %td.cell_collapse.text_right.media_xs_text_right.text_bold Type:
    %td= @document.document_type.category
  %tr
    %td.cell_collapse.text_right.media_xs_text_right.text_bold Description:
    %td= @document.description
  %tr
    %td.cell_collapse.text_right.media_xs_text_right.text_bold Version:
    %td= @document.version

= form_for [@document, @review], html: { class: "form-horizontal", role: "form" } do |f|
  = render partial: 'form', locals: {f: f}

  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit "Add Review", class: 'btn'

      = link_to documents_path, class: 'btn btn_gray' do
        %span.fa.fa-fw.fa-times
        Cancel
