%footer.footer.text_light
  .content_width
    %p
      = link_to 'https://twitter.com/LexLucid', class: 'remove_border_bottom' do
        %span.fa.fa-fw.fa-2x.fa-twitter-square

      = link_to 'https://www.facebook.com/lexlucidapp', class: 'remove_border_bottom' do
        %span.fa.fa-fw.fa-2x.fa-facebook-square

      = link_to 'https://www.instagram.com/lexlucidapp/', class: 'remove_border_bottom' do
        %span.fa.fa-fw.fa-2x.fa-instagram

    .cols.break_xl
      .col_50
        %p
          &copy;
          = Time.now.year
          LexLucid. <br class='media_xs_show'>All rights reserved.

      .col_50.text_right
        %p= link_to 'Terms of Use', '#'

    %p.text_small LexLucid is in beta and attorney credentials have not been independently verified by us. The reviews reflected here are the opinions of the individuals providing those reviews only, and have not been thoroughly checked for quality control. If you have any issues with any reviews, please <a href='https://twitter.com/LexLucid' target='blank'>contact us</a>. LexLucid is not a law firm and does not provide legal advice. The reviews provided here are based on general fairness to all consumers, without considering any individual facts. Your facts may vary.  If you wish to understand how a contract applies to you specifically, you should seek independent legal counsel.
