- if !logged_in? && !has_logged_in?
  = link_to 'Attorney?', new_user_path
- if logged_in?
  - if current_user.admin?
    = link_to 'Document Types', document_types_path
    = link_to 'Issues', bullet_points_path
    = link_to 'Users', users_path

  = link_to "Add Contract", new_document_path
  = link_to 'Dashboard', current_user
- if has_logged_in? && !logged_in?
  = link_to 'Attorney?', '/login'
