= link_to about_path, class: active_page?("pages#about") ? 'active' : '' do
  About

- if !logged_in? && !has_logged_in?
  = link_to new_user_path, class: active_page?("users") ? 'active' : '' do
    Attorney Registration

- if has_logged_in? && !logged_in?
  = link_to '/login', class: active_page?("users") ? 'active' : '' do
    Attorney Login

- if logged_in?
  = link_to new_document_path, class: active_page?("documents#new", "documents#create") ? 'active' : '' do
    Add Contract

  = link_to current_user, class: active_page?("users#show") && current_user.id == @user.id ? 'active' : '' do
    Dashboard
