!!!
%html
  %head
    = render partial: 'layouts/google_analytics'
    = render partial: 'layouts/head'

  %body{style: 'padding-top:0;'}
    %header.app_header
      .content_width
        %table
          %tr
            %td
              %a.media_xs_show.remove_border_bottom{href: '/'}
                %img.app_header_logo{src: asset_path('lexlucid-logo-vector.svg')}

            %td.media_xs_text_right{style: 'vertical-align:middle;'}
              %a.header_mobile_nav_button{href: '#', data: {toggle: '.js_header_mobile_nav_button'}}
                %span.fa.fa-fw.fa-bars

        %nav.header_nav.media_xs_break_small.js_header_mobile_nav_button
          - if !logged_in? && !has_logged_in?
            = link_to 'Attorney Registration', new_user_path
          - if logged_in? and current_user.admin?
            = link_to 'Document Types', document_types_path
            = link_to 'Bullet Points', bullet_points_path
            = link_to 'Users', users_path
          - if logged_in?
            = link_to "Add Contract", new_document_path
            = link_to [current_user.first_name, current_user.last_name].join(' '), current_user
          - else
            = link_to 'Login', '/login'

    .home_header.media_xs_text_center
      .content_width
        .break_xs
          %a.media_xs_hide.remove_border_bottom{href: '/'}
            %img.home_logo{src: asset_path('lexlucid-logo-vector.svg')}

        .home_header_indent
          .break_large.media_xs_break_small
            %h1.remove_margin_top Grading contracts for the greater&nbsp;good.

          %div{style: 'overflow:hidden;'}
            = form_tag documents_path, method: :get do
              = text_field_tag :q, params[:q], id: 'home_header_input', placeholder: 'Find a Contract', class: 'media_xs_break_small'
              = submit_tag "Search", id: 'home_header_submit'

    .app_content
      = yield

    %footer.footer
      .content_width
        .cols
          .col_50
            %p
              &copy;
              = Time.now.year
              LexLucid. <br class='media_xs_show'>All rights reserved.

          .col_50.text_right
            %p= link_to 'Terms of Use', '#'
