!!!
%html
  %head
    = render partial: 'layouts/google_analytics'
    = render partial: 'layouts/head'

  %body{style: 'padding-top:0;'}
    %header.app_header
      .content_width
        %table
          %tr
            %td
              %a.media_xs_show{href: '/'}
                %img.app_header_logo{src: asset_path('lexlucid-logo-vector.svg')}

            %td.media_xs_text_right{style: 'vertical-align:middle;'}
              %a.header_mobile_nav_button{href: '#', data: {toggle: '.js_header_mobile_nav_button'}}
                %span.fa.fa-fw.fa-bars

        %nav.header_nav.media_xs_break_small.js_header_mobile_nav_button
          = render partial: 'layouts/navbar'

    .home_header.media_xs_text_center
      .content_width
        .break_xs
          %a.media_xs_hide{href: '/'}
            %img.home_logo{src: asset_path('lexlucid-logo-vector.svg')}

        .home_header_indent
          .break_large.media_xs_break_small
            %h1.remove_margin_top Grading contracts for the greater&nbsp;good.

          .home_header_search{style: 'overflow:hidden;'}
            = form_tag documents_path, method: :get do
              = text_field_tag :q, params[:q], id: 'home_header_input', placeholder: 'Find a Company'
              = submit_tag "Go", id: 'home_header_submit'

    .app_content
      .content_width
        - flash.each do |name, msg|
          %div{class: "alert alert-#{name.to_sym == :error ? 'danger' : 'success'} alert-dismissable", role: "alert"}
            %button.close{type: "button", data: {dismiss: "alert"} }
              %span{aria: {hidden: "true"} } &times;
              %span.sr-only Close
            = msg
        = yield

    .row_padding_large.bg_gray.home_whatis
      .home_whatis_bg
      .content_width.text_large
        .cols
          .col_60
            %h2.remove_margin_top What Is LexLucid?
            .cols_flow_two0
              %p We&rsquo;re all guilty of checking the box online, and signing an agreement to terms we haven&rsquo;t read or don&rsquo;t understand.

              %p LexLucid is the solution. Certified attorneys grade and review legal contracts, so you can quickly see what you&rsquo;re getting into the next time you agree to the terms. Our reviews put things in plain English, so you can feel confident agreeing to the terms.

    .row_padding_large.bg_darker_20
      .content_width.text_large
        .cols
          .col_33.media_xs_break_small
            %a{href: 'https://legaltalknetwork.com/podcasts/special-reports/2018/03/celebrating-the-denver-winners-of-the-global-legal-hackathon/'}
              %img{src: asset_path('glh-denver-pod-album.jpg')}

          .col_66
            .text_uppercase Featured on Legal Talk Network

            %h2.remove_margin_top= link_to 'Celebrating the Denver Winners of the Global Legal Hackathon', 'https://legaltalknetwork.com/podcasts/special-reports/2018/03/celebrating-the-denver-winners-of-the-global-legal-hackathon/'

            %p.break_medium Listen to the LexLucid team talk about their experience at the Global Legal Hackathon in Denver, Colorado, where they took first place for their project inspired by one of <a href='https://www.lawsitesblog.com/2018/02/hadfield-challenges-global-legal-hackathon-urges-participants-address-problems-worth-solving.html'>Hadfield&rsquo;s challenges</a>.

            <audio style='width:100%;' controls="" preload="none" data-ga-location="; episode" data-ga-featured-episode="" data-ga-slug="/podcasts/special-reports/2018/03/celebrating-the-denver-winners-of-the-global-legal-hackathon/">
            <source src="https://traffic.libsyn.com/sr/episode_429.mp3">
            <p>Your user agent does not support the HTML5 Audio&nbsp;element.</p>
            </audio>

    .row_padding_large.bg_purple.text_white
      .content_width
        .cols.cols_padding_large.text_large
          .col_60.media_xs_break_small
            .break_medium.media_xs_hide
            %h2{style: 'margin:0;'}
              %span.fa.fa-hand-pointer-o.media_xs_hide
              One-Click Reviews

            %p.text_uppercase with the LexLucid Chrome extension

            %p Just one-click to see attorney contract reviews from LexLucid, without having to leave the site you&rsquo;re browsing.

            %p Consumers can request reviews for new  contracts, while attorneys can add new contracts or review existing ones.

            %p
              = link_to 'https://chrome.google.com/webstore/detail/lexlucid/cfcdiophfjnmjnelkmgdkeejfabenhpo', class: 'btn btn_yellow' do
                Get Chrome Extension
                %span.media_xs_hide
                  &nbsp;
                  %span.fa.fa-chevron-circle-right

          .col_40
            %a{href: 'https://chrome.google.com/webstore/detail/lexlucid/cfcdiophfjnmjnelkmgdkeejfabenhpo'}
              %img{src: asset_path('lexlucid-chrome-ext-2.gif')}

    - if !logged_in? && !has_logged_in?
      .row.bg_darker_20
        .content_width.text_large.text_center{style: 'max-width:38em;'}
          %h2.remove_margin_top Are You an Attorney?

          %p Help consumers stay safe and make better informed decisions by registering and grading contracts on LexLucid.

          = link_to 'Register Today', new_user_path, class: 'btn'


    = render partial: 'layouts/footer'
