!!!
%html
  %head
    = render partial: 'layouts/google_analytics'
    = render partial: 'layouts/head'

  %body{style: 'padding-top:0;'}
    %header.app_header
      .content_width
        %table
          %tr
            %td
              %a.media_xs_show{href: '/'}
                %img.app_header_logo{src: asset_path('lexlucid-logo-vector.svg')}

            %td.media_xs_text_right{style: 'vertical-align:middle;'}
              %a.header_mobile_nav_button{href: '#', data: {toggle: '.js_header_mobile_nav_button'}}
                %span.fa.fa-fw.fa-bars

        %nav.header_nav.media_xs_break_small.js_header_mobile_nav_button
          = render partial: 'layouts/navbar'

    .home_header.media_xs_text_center
      .content_width
        .break_xs
          %a.media_xs_hide{href: '/'}
            %img.home_logo{src: asset_path('lexlucid-logo-vector.svg')}

        .home_header_indent
          .break_large.media_xs_break_small
            %h1.remove_margin_top Grading contracts for the greater&nbsp;good.

          .home_header_search{style: 'overflow:hidden;'}
            = form_tag documents_path, method: :get do
              = text_field_tag :q, params[:q], id: 'home_header_input', placeholder: 'Find a Company'
              = submit_tag "Go", id: 'home_header_submit'

    .app_content
      .content_width
        - flash.each do |name, msg|
          %div{class: "alert alert-#{name.to_sym == :error ? 'danger' : 'success'} alert-dismissable", role: "alert"}
            %button.close{type: "button", data: {dismiss: "alert"} }
              %span{aria: {hidden: "true"} } &times;
              %span.sr-only Close
            = msg
        = yield

    .row_padding_large.bg_gray.home_whatis
      .home_whatis_bg
      .content_width.text_large
        .cols
          .col_60
            %h2.remove_margin_top What Is LexLucid?
            .cols_flow_two0
              %p We&rsquo;re all guilty of checking the box online, and signing an agreement to terms we haven&rsquo;t read or don&rsquo;t understand.

              %p LexLucid is the solution. Certified attorneys grade and review legal contracts, so you can quickly see what you&rsquo;re getting into the next time you agree to the terms. Our reviews put things in plain english, so you can feel confident agreeing to the terms.

    .row_padding_large.bg_yellow
      .content_width
        .cols.cols_padding_large.text_large
          .col_40
            %a{href: 'https://chrome.google.com/webstore/detail/lexlucid/cfcdiophfjnmjnelkmgdkeejfabenhpo', target: '_blank'}
              %img{src: asset_path('lexlucid-chrome-ext-2.gif')}

          .col_60
            %h2{style: 'margin:1.2em 0 0;'}
              %span.fa.fa-hand-pointer-o.media_xs_hide
              One-Click Reviews

            %p.text_uppercase with the LexLucid Chrome extension

            %p With one-click you&rsquo;ll see attorney contract reviews from LexLucid, without having to leave the site you&rsquo;re browsing.

            %p Consumers can request reviews for new  contracts, while attorneys can add new contracts or review existing ones.

            %p
              = link_to 'https://chrome.google.com/webstore/detail/lexlucid/cfcdiophfjnmjnelkmgdkeejfabenhpo', class: 'btn' do
                Get Chrome Extension &nbsp;
                %span.fa.fa-lg.fa-arrow-circle-right.media_xs_hide

    - if !logged_in? && !has_logged_in?
      .row.bg_black.text_white
        .content_width.text_large.text_center{style: 'max-width:38em;'}
          %h2 Are You an Attorney?

          %p Help consumers stay safe and make better informed decisions by registering and grading contracts on LexLucid.

          %p
            = link_to 'Register Today', new_user_path, class: 'btn btn_yellow'


    = render partial: 'layouts/footer'
