!!!
%html
  %head
    = render partial: 'layouts/google_analytics'
    = render partial: 'layouts/head'

  %body{style: 'padding-top:0;'}
    %header.app_header
      .content_width
        %table
          %tr
            %td
              %a.media_xs_show.remove_border_bottom{href: '/'}
                %img.app_header_logo{src: asset_path('lexlucid-logo-vector.svg')}

            %td.media_xs_text_right{style: 'vertical-align:middle;'}
              %a.header_mobile_nav_button{href: '#', data: {toggle: '.js_header_mobile_nav_button'}}
                %span.fa.fa-fw.fa-bars

        %nav.header_nav.media_xs_break_small.js_header_mobile_nav_button
          = render partial: 'layouts/navbar'

    .home_header.media_xs_text_center
      .content_width
        .break_xs
          %a.media_xs_hide.remove_border_bottom{href: '/'}
            %img.home_logo{src: asset_path('lexlucid-logo-vector.svg')}

        .home_header_indent
          .break_large.media_xs_break_small
            %h1.remove_margin_top Grading contracts for the greater&nbsp;good.

          .home_header_search{style: 'overflow:hidden;'}
            = form_tag documents_path, method: :get do
              = text_field_tag :q, params[:q], id: 'home_header_input', placeholder: 'Find a Company'
              = submit_tag "Go", id: 'home_header_submit'

    .app_content
      .content_width
        - flash.each do |name, msg|
          %div{class: "alert alert-#{name.to_sym == :error ? 'danger' : 'success'} alert-dismissable", role: "alert"}
            %button.close{type: "button", data: {dismiss: "alert"} }
              %span{aria: {hidden: "true"} } &times;
              %span.sr-only Close
            = msg
        = yield

    %footer.footer.text_light
      .content_width
        %p
          = link_to 'https://twitter.com/LexLucid', class: 'remove_border_bottom' do
            %span.fa.fa-fw.fa-2x.fa-twitter-square

          = link_to 'https://www.facebook.com/lexlucidapp', class: 'remove_border_bottom' do
            %span.fa.fa-fw.fa-2x.fa-facebook-square

          = link_to 'https://www.instagram.com/lexlucidapp/', class: 'remove_border_bottom' do
            %span.fa.fa-fw.fa-2x.fa-instagram

        .cols
          .col_50
            %p
              &copy;
              = Time.now.year
              LexLucid. <br class='media_xs_show'>All rights reserved.

          .col_50.text_right
            %p= link_to 'Terms of Use', '#'
